<a href="https://colab.research.google.com/github/rishabhs-s/churn-modelling-with-DL/blob/master/Churn_modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [106]:
from google.colab import drive

In [107]:

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [108]:
import pandas as pd
import numpy as np
import keras

In [109]:
data=pd.read_csv("/content/drive/My Drive/Deep Learning/Churn_Modelling.csv")

In [110]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [111]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [112]:
data.describe()

         RowNumber    CustomerId  ...  EstimatedSalary        Exited
count  10000.00000  1.000000e+04  ...     10000.000000  10000.000000
mean    5000.50000  1.569094e+07  ...    100090.239881      0.203700
std     2886.89568  7.193619e+04  ...     57510.492818      0.402769
min        1.00000  1.556570e+07  ...        11.580000      0.000000
25%     2500.75000  1.562853e+07  ...     51002.110000      0.000000
50%     5000.50000  1.569074e+07  ...    100193.915000      0.000000
75%     7500.25000  1.575323e+07  ...    149388.247500      0.000000
max    10000.00000  1.581569e+07  ...    199992.480000      1.000000

[8 rows x 11 columns]

In [113]:
X=data.iloc[:,3:13]
y=data.iloc[:,13]

In [114]:
X

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France  Female  ...          1               1        101348.88
1             608     Spain  Female  ...          0               1        112542.58
2             502    France  Female  ...          1               0        113931.57
3             699    France  Female  ...          0               0         93826.63
4             850     Spain  Female  ...          1               1         79084.10
...           ...       ...     ...  ...        ...             ...              ...
9995          771    France    Male  ...          1               0         96270.64
9996          516    France    Male  ...          1               1        101699.77
9997          709    France  Female  ...          0               1         42085.58
9998          772   Germany    Male  ...          1               0         92888.52
9999          792    France  Female  ...          1               0         38190.78

[10000 rows x 10 columns]

In [115]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [116]:
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X["Gender"],drop_first=True)

In [117]:
X

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France  Female  ...          1               1        101348.88
1             608     Spain  Female  ...          0               1        112542.58
2             502    France  Female  ...          1               0        113931.57
3             699    France  Female  ...          0               0         93826.63
4             850     Spain  Female  ...          1               1         79084.10
...           ...       ...     ...  ...        ...             ...              ...
9995          771    France    Male  ...          1               0         96270.64
9996          516    France    Male  ...          1               1        101699.77
9997          709    France  Female  ...          0               1         42085.58
9998          772   Germany    Male  ...          1               0         92888.52
9999          792    France  Female  ...          1               0         38190.78

[10000 rows x 10 columns]

In [118]:
X.drop(['Geography','Gender'],axis=1,inplace=True)

In [119]:
X=pd.concat([X,gender,geography],axis=1)

In [120]:
X

      CreditScore  Age  Tenure  ...  Male  Germany  Spain
0             619   42       2  ...     0        0      0
1             608   41       1  ...     0        0      1
2             502   42       8  ...     0        0      0
3             699   39       1  ...     0        0      0
4             850   43       2  ...     0        0      1
...           ...  ...     ...  ...   ...      ...    ...
9995          771   39       5  ...     1        0      0
9996          516   35      10  ...     1        0      0
9997          709   36       7  ...     0        0      0
9998          772   42       3  ...     1        1      0
9999          792   28       4  ...     0        0      0

[10000 rows x 11 columns]

In [121]:
geography.head(600)

     Germany  Spain
0          0      0
1          0      1
2          0      0
3          0      0
4          0      1
..       ...    ...
595        1      0
596        0      1
597        1      0
598        1      0
599        1      0

[600 rows x 2 columns]

In [122]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [123]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
X_train=ss.fit_transform(X_train)
X_test==ss.fit_transform(X_test)

      CreditScore    Age  Tenure  ...   Male  Germany  Spain
2854        False  False   False  ...  False    False  False
3403        False  False   False  ...  False    False  False
6357        False  False   False  ...  False    False  False
6165        False  False   False  ...  False    False  False
7761        False  False   False  ...  False    False  False
...           ...    ...     ...  ...    ...      ...    ...
9874        False  False   False  ...  False    False  False
2555        False  False   False  ...  False    False  False
1935        False  False   False  ...  False    False  False
9046        False  False   False  ...  False    False  False
3196        False  False   False  ...  False    False  False

[2500 rows x 11 columns]

In [153]:
import keras
from keras.models import Sequential
from keras.layers import Dropout,Dense

In [154]:
model=Sequential()

In [155]:
#1st layer
model.add(Dense(units=6,input_dim=11,kernel_initializer='he_uniform',activation='relu'))

In [156]:
#2nd layer
model.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu'))
#model.add(Dropout(0.2))

In [157]:
#o/p layer
model.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [158]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [159]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_10 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model_history=model.fit(X_train,y_train,batch_size=10,validation_split=0.33,epochs=100)

Epoch 1/100
503/503 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7741 - val_loss: 0.4959 - val_accuracy: 0.7924
Epoch 2/100
503/503 [==============================] - 1s 1ms/step - loss: 0.4639 - accuracy: 0.7994 - val_loss: 0.4695 - val_accuracy: 0.7928
Epoch 3/100
503/503 [==============================] - 1s 1ms/step - loss: 0.4387 - accuracy: 0.8055 - val_loss: 0.4527 - val_accuracy: 0.7964
Epoch 4/100
503/503 [==============================] - 1s 1ms/step - loss: 0.4231 - accuracy: 0.8131 - val_loss: 0.4412 - val_accuracy: 0.8053
Epoch 5/100
503/503 [==============================] - 1s 1ms/step - loss: 0.4096 - accuracy: 0.8217 - val_loss: 0.4286 - val_accuracy: 0.8114
Epoch 6/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3961 - accuracy: 0.8306 - val_loss: 0.4152 - val_accuracy: 0.8215
Epoch 7/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3846 - accuracy: 0.8384 - val_loss: 0.4018 - val_accuracy: 0.8348
Epoch 8/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3751 - accuracy: 0.8483 - val_loss: 0.3916 - val_accuracy: 0.8380
Epoch 9/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3665 - accuracy: 0.8497 - val_loss: 0.3830 - val_accuracy: 0.8461
Epoch 10/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3610 - accuracy: 0.8539 - val_loss: 0.3777 - val_accuracy: 0.8461
Epoch 11/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3565 - accuracy: 0.8545 - val_loss: 0.3739 - val_accuracy: 0.8469
Epoch 12/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3524 - accuracy: 0.8545 - val_loss: 0.3700 - val_accuracy: 0.8498
Epoch 13/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3492 - accuracy: 0.8577 - val_loss: 0.3673 - val_accuracy: 0.8502
Epoch 14/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3469 - accuracy: 0.8581 - val_loss: 0.3643 - val_accuracy: 0.8485
Epoch 15/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3442 - accuracy: 0.8579 - val_loss: 0.3620 - val_accuracy: 0.8534
Epoch 16/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3429 - accuracy: 0.8603 - val_loss: 0.3612 - val_accuracy: 0.8518
Epoch 17/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3416 - accuracy: 0.8587 - val_loss: 0.3601 - val_accuracy: 0.8506
Epoch 18/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3407 - accuracy: 0.8577 - val_loss: 0.3588 - val_accuracy: 0.8546
Epoch 19/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3397 - accuracy: 0.8595 - val_loss: 0.3575 - val_accuracy: 0.8546
Epoch 20/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3388 - accuracy: 0.8595 - val_loss: 0.3571 - val_accuracy: 0.8522
Epoch 21/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3386 - accuracy: 0.8601 - val_loss: 0.3582 - val_accuracy: 0.8546
Epoch 22/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3379 - accuracy: 0.8617 - val_loss: 0.3583 - val_accuracy: 0.8558
Epoch 23/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3369 - accuracy: 0.8565 - val_loss: 0.3596 - val_accuracy: 0.8534
Epoch 24/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3370 - accuracy: 0.8585 - val_loss: 0.3568 - val_accuracy: 0.8530
Epoch 25/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3366 - accuracy: 0.8575 - val_loss: 0.3574 - val_accuracy: 0.8534
Epoch 26/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3363 - accuracy: 0.8597 - val_loss: 0.3573 - val_accuracy: 0.8554
Epoch 27/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3354 - accuracy: 0.8599 - val_loss: 0.3584 - val_accuracy: 0.8530
Epoch 28/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3351 - accuracy: 0.8615 - val_loss: 0.3589 - val_accuracy: 0.8550
Epoch 29/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3355 - accuracy: 0.8637 - val_loss: 0.3577 - val_accuracy: 0.8562
Epoch 30/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3354 - accuracy: 0.8623 - val_loss: 0.3564 - val_accuracy: 0.8538
Epoch 31/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3350 - accuracy: 0.8627 - val_loss: 0.3576 - val_accuracy: 0.8554
Epoch 32/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3348 - accuracy: 0.8611 - val_loss: 0.3564 - val_accuracy: 0.8554
Epoch 33/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3348 - accuracy: 0.8605 - val_loss: 0.3570 - val_accuracy: 0.8538
Epoch 34/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3343 - accuracy: 0.8615 - val_loss: 0.3560 - val_accuracy: 0.8570
Epoch 35/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3345 - accuracy: 0.8615 - val_loss: 0.3554 - val_accuracy: 0.8542
Epoch 36/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3338 - accuracy: 0.8631 - val_loss: 0.3559 - val_accuracy: 0.8546
Epoch 37/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3344 - accuracy: 0.8611 - val_loss: 0.3545 - val_accuracy: 0.8550
Epoch 38/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3339 - accuracy: 0.8613 - val_loss: 0.3549 - val_accuracy: 0.8558
Epoch 39/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3341 - accuracy: 0.8603 - val_loss: 0.3549 - val_accuracy: 0.8534
Epoch 40/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3341 - accuracy: 0.8607 - val_loss: 0.3560 - val_accuracy: 0.8562
Epoch 41/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3336 - accuracy: 0.8613 - val_loss: 0.3558 - val_accuracy: 0.8566
Epoch 42/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3337 - accuracy: 0.8603 - val_loss: 0.3568 - val_accuracy: 0.8546
Epoch 43/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3341 - accuracy: 0.8599 - val_loss: 0.3568 - val_accuracy: 0.8546
Epoch 44/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3339 - accuracy: 0.8605 - val_loss: 0.3562 - val_accuracy: 0.8566
Epoch 45/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3337 - accuracy: 0.8615 - val_loss: 0.3550 - val_accuracy: 0.8530
Epoch 46/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3336 - accuracy: 0.8623 - val_loss: 0.3562 - val_accuracy: 0.8554
Epoch 47/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3334 - accuracy: 0.8599 - val_loss: 0.3563 - val_accuracy: 0.8550
Epoch 48/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3339 - accuracy: 0.8605 - val_loss: 0.3558 - val_accuracy: 0.8538
Epoch 49/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3330 - accuracy: 0.8589 - val_loss: 0.3554 - val_accuracy: 0.8554
Epoch 50/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3326 - accuracy: 0.8629 - val_loss: 0.3586 - val_accuracy: 0.8550
Epoch 51/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3336 - accuracy: 0.8617 - val_loss: 0.3555 - val_accuracy: 0.8554
Epoch 52/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3330 - accuracy: 0.8617 - val_loss: 0.3574 - val_accuracy: 0.8542
Epoch 53/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3330 - accuracy: 0.8607 - val_loss: 0.3549 - val_accuracy: 0.8550
Epoch 54/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3333 - accuracy: 0.8597 - val_loss: 0.3556 - val_accuracy: 0.8546
Epoch 55/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3328 - accuracy: 0.8587 - val_loss: 0.3547 - val_accuracy: 0.8570
Epoch 56/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3330 - accuracy: 0.8635 - val_loss: 0.3558 - val_accuracy: 0.8546
Epoch 57/100
503/503 [==============================] - 1s 1ms/step - loss: 0.3332 - accuracy: 0.8613 - val_loss: 0.3556 - val_accuracy: 0.8554
Epoch 58/100
220/503 [============>.................] - ETA: 0s - loss: 0.3399 - accuracy: 0.8505

In [147]:
y_pred = model.predict(X_test)

In [148]:
y_pred = (y_pred > 0.5)

In [149]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [150]:
cm

array([[1990,    0],
       [ 510,    0]])

In [151]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [152]:
score

0.796