<a href="https://colab.research.google.com/github/rishabhs-s/churn-modelling-with-DL/blob/master/Churn_modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [245]:
from google.colab import drive

In [246]:

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [247]:
import pandas as pd
import numpy as np
import keras

In [248]:
data=pd.read_csv("/content/drive/My Drive/Deep Learning/Churn_Modelling.csv")

In [249]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [250]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [251]:
data.describe()

         RowNumber    CustomerId  ...  EstimatedSalary        Exited
count  10000.00000  1.000000e+04  ...     10000.000000  10000.000000
mean    5000.50000  1.569094e+07  ...    100090.239881      0.203700
std     2886.89568  7.193619e+04  ...     57510.492818      0.402769
min        1.00000  1.556570e+07  ...        11.580000      0.000000
25%     2500.75000  1.562853e+07  ...     51002.110000      0.000000
50%     5000.50000  1.569074e+07  ...    100193.915000      0.000000
75%     7500.25000  1.575323e+07  ...    149388.247500      0.000000
max    10000.00000  1.581569e+07  ...    199992.480000      1.000000

[8 rows x 11 columns]

In [252]:
X=data.iloc[:,3:13]
y=data.iloc[:,13]

In [253]:
X

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France  Female  ...          1               1        101348.88
1             608     Spain  Female  ...          0               1        112542.58
2             502    France  Female  ...          1               0        113931.57
3             699    France  Female  ...          0               0         93826.63
4             850     Spain  Female  ...          1               1         79084.10
...           ...       ...     ...  ...        ...             ...              ...
9995          771    France    Male  ...          1               0         96270.64
9996          516    France    Male  ...          1               1        101699.77
9997          709    France  Female  ...          0               1         42085.58
9998          772   Germany    Male  ...          1               0         92888.52
9999          792    France  Female  ...          1               0         38190.78

[10000 rows x 10 columns]

In [254]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [257]:
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X["Gender"],drop_first=True)

In [258]:
X

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France  Female  ...          1               1        101348.88
1             608     Spain  Female  ...          0               1        112542.58
2             502    France  Female  ...          1               0        113931.57
3             699    France  Female  ...          0               0         93826.63
4             850     Spain  Female  ...          1               1         79084.10
...           ...       ...     ...  ...        ...             ...              ...
9995          771    France    Male  ...          1               0         96270.64
9996          516    France    Male  ...          1               1        101699.77
9997          709    France  Female  ...          0               1         42085.58
9998          772   Germany    Male  ...          1               0         92888.52
9999          792    France  Female  ...          1               0         38190.78

[10000 rows x 10 columns]

In [259]:
X.drop(['Geography','Gender'],axis=1,inplace=True)

In [260]:
X=pd.concat([X,gender,geography],axis=1)

In [261]:
X

      CreditScore  Age  Tenure  ...  Male  Germany  Spain
0             619   42       2  ...     0        0      0
1             608   41       1  ...     0        0      1
2             502   42       8  ...     0        0      0
3             699   39       1  ...     0        0      0
4             850   43       2  ...     0        0      1
...           ...  ...     ...  ...   ...      ...    ...
9995          771   39       5  ...     1        0      0
9996          516   35      10  ...     1        0      0
9997          709   36       7  ...     0        0      0
9998          772   42       3  ...     1        1      0
9999          792   28       4  ...     0        0      0

[10000 rows x 11 columns]

In [262]:
geography.head(600)

     Germany  Spain
0          0      0
1          0      1
2          0      0
3          0      0
4          0      1
..       ...    ...
595        1      0
596        0      1
597        1      0
598        1      0
599        1      0

[600 rows x 2 columns]

In [263]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20,random_state = 0)

In [264]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [265]:
X_test

array([[-0.55204276, -0.36890377,  1.04473698, ..., -1.09168714,
         1.75486502, -0.57369368],
       [-1.31490297,  0.10961719, -1.031415  , ..., -1.09168714,
        -0.5698444 , -0.57369368],
       [ 0.57162971,  0.30102557,  1.04473698, ..., -1.09168714,
        -0.5698444 ,  1.74309049],
       ...,
       [-0.74791227, -0.27319958, -1.37744033, ...,  0.91601335,
        -0.5698444 ,  1.74309049],
       [-0.00566991, -0.46460796, -0.33936434, ...,  0.91601335,
         1.75486502, -0.57369368],
       [-0.79945688, -0.84742473,  1.04473698, ...,  0.91601335,
         1.75486502, -0.57369368]])

In [266]:
import keras
from keras.models import Sequential
from keras.layers import Dropout,Dense

In [267]:
model=Sequential()

In [268]:
#1st layer
model.add(Dense(units=6, input_dim=11,kernel_initializer='he_uniform',activation='relu'))

In [269]:
#2nd layer
model.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu'))
#model.add(Dropout(0.2))

In [270]:
#o/p layer
model.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [271]:
model.compile(optimizer='Adamax',loss='binary_crossentropy',metrics=['accuracy'])

In [272]:
model.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_20 (Dense)             (None, 6)                 72
_________________________________________________________________
dense_21 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_22 (Dense)             (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [273]:
model_history=model.fit(X_train,y_train,batch_size=10,validation_split=0.33,epochs=100)

Epoch 1/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5865 - accuracy: 0.7681 - val_loss: 0.5435 - val_accuracy: 0.7967
Epoch 2/100
536/536 [==============================] - 1s 1ms/step - loss: 0.5204 - accuracy: 0.7972 - val_loss: 0.5165 - val_accuracy: 0.7955
Epoch 3/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4997 - accuracy: 0.7966 - val_loss: 0.5024 - val_accuracy: 0.7955
Epoch 4/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4865 - accuracy: 0.7966 - val_loss: 0.4915 - val_accuracy: 0.7955
Epoch 5/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4760 - accuracy: 0.7968 - val_loss: 0.4831 - val_accuracy: 0.7955
Epoch 6/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4670 - accuracy: 0.7975 - val_loss: 0.4750 - val_accuracy: 0.7959
Epoch 7/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4588 - accuracy: 0.7979 - val_loss: 0.4684 - val_accuracy: 0.7959
Epoch 8/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4515 - accuracy: 0.7992 - val_loss: 0.4621 - val_accuracy: 0.7970
Epoch 9/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4444 - accuracy: 0.8011 - val_loss: 0.4554 - val_accuracy: 0.7970
Epoch 10/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4380 - accuracy: 0.8039 - val_loss: 0.4496 - val_accuracy: 0.8023
Epoch 11/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4324 - accuracy: 0.8057 - val_loss: 0.4445 - val_accuracy: 0.8042
Epoch 12/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4274 - accuracy: 0.8078 - val_loss: 0.4401 - val_accuracy: 0.8065
Epoch 13/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4232 - accuracy: 0.8112 - val_loss: 0.4370 - val_accuracy: 0.8065
Epoch 14/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4197 - accuracy: 0.8128 - val_loss: 0.4336 - val_accuracy: 0.8084
Epoch 15/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4166 - accuracy: 0.8134 - val_loss: 0.4310 - val_accuracy: 0.8084
Epoch 16/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4140 - accuracy: 0.8158 - val_loss: 0.4289 - val_accuracy: 0.8084
Epoch 17/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4118 - accuracy: 0.8162 - val_loss: 0.4273 - val_accuracy: 0.8099
Epoch 18/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4101 - accuracy: 0.8160 - val_loss: 0.4252 - val_accuracy: 0.8084
Epoch 19/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4083 - accuracy: 0.8155 - val_loss: 0.4236 - val_accuracy: 0.8080
Epoch 20/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4067 - accuracy: 0.8177 - val_loss: 0.4221 - val_accuracy: 0.8095
Epoch 21/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4053 - accuracy: 0.8173 - val_loss: 0.4208 - val_accuracy: 0.8099
Epoch 22/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4041 - accuracy: 0.8181 - val_loss: 0.4197 - val_accuracy: 0.8095
Epoch 23/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4026 - accuracy: 0.8173 - val_loss: 0.4186 - val_accuracy: 0.8099
Epoch 24/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4016 - accuracy: 0.8186 - val_loss: 0.4175 - val_accuracy: 0.8103
Epoch 25/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4002 - accuracy: 0.8181 - val_loss: 0.4163 - val_accuracy: 0.8111
Epoch 26/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3990 - accuracy: 0.8182 - val_loss: 0.4156 - val_accuracy: 0.8107
Epoch 27/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3980 - accuracy: 0.8182 - val_loss: 0.4146 - val_accuracy: 0.8111
Epoch 28/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3967 - accuracy: 0.8192 - val_loss: 0.4136 - val_accuracy: 0.8103
Epoch 29/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3955 - accuracy: 0.8199 - val_loss: 0.4127 - val_accuracy: 0.8092
Epoch 30/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3941 - accuracy: 0.8192 - val_loss: 0.4120 - val_accuracy: 0.8095
Epoch 31/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3929 - accuracy: 0.8197 - val_loss: 0.4109 - val_accuracy: 0.8111
Epoch 32/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3917 - accuracy: 0.8199 - val_loss: 0.4102 - val_accuracy: 0.8099
Epoch 33/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3905 - accuracy: 0.8212 - val_loss: 0.4093 - val_accuracy: 0.8107
Epoch 34/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3893 - accuracy: 0.8216 - val_loss: 0.4085 - val_accuracy: 0.8103
Epoch 35/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3884 - accuracy: 0.8216 - val_loss: 0.4076 - val_accuracy: 0.8095
Epoch 36/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3872 - accuracy: 0.8212 - val_loss: 0.4068 - val_accuracy: 0.8099
Epoch 37/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3861 - accuracy: 0.8225 - val_loss: 0.4058 - val_accuracy: 0.8103
Epoch 38/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3850 - accuracy: 0.8216 - val_loss: 0.4045 - val_accuracy: 0.8122
Epoch 39/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3839 - accuracy: 0.8225 - val_loss: 0.4039 - val_accuracy: 0.8129
Epoch 40/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3831 - accuracy: 0.8218 - val_loss: 0.4027 - val_accuracy: 0.8152
Epoch 41/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3820 - accuracy: 0.8220 - val_loss: 0.4018 - val_accuracy: 0.8160
Epoch 42/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3810 - accuracy: 0.8216 - val_loss: 0.4009 - val_accuracy: 0.8156
Epoch 43/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3796 - accuracy: 0.8231 - val_loss: 0.4000 - val_accuracy: 0.8167
Epoch 44/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3785 - accuracy: 0.8220 - val_loss: 0.3988 - val_accuracy: 0.8175
Epoch 45/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3770 - accuracy: 0.8244 - val_loss: 0.3981 - val_accuracy: 0.8167
Epoch 46/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3762 - accuracy: 0.8246 - val_loss: 0.3972 - val_accuracy: 0.8183
Epoch 47/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3749 - accuracy: 0.8242 - val_loss: 0.3962 - val_accuracy: 0.8179
Epoch 48/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3738 - accuracy: 0.8233 - val_loss: 0.3953 - val_accuracy: 0.8186
Epoch 49/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3724 - accuracy: 0.8252 - val_loss: 0.3946 - val_accuracy: 0.8194
Epoch 50/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3713 - accuracy: 0.8263 - val_loss: 0.3937 - val_accuracy: 0.8258
Epoch 51/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3700 - accuracy: 0.8365 - val_loss: 0.3930 - val_accuracy: 0.8266
Epoch 52/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3689 - accuracy: 0.8373 - val_loss: 0.3921 - val_accuracy: 0.8262
Epoch 53/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3678 - accuracy: 0.8371 - val_loss: 0.3914 - val_accuracy: 0.8262
Epoch 54/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3668 - accuracy: 0.8386 - val_loss: 0.3905 - val_accuracy: 0.8262
Epoch 55/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3657 - accuracy: 0.8399 - val_loss: 0.3899 - val_accuracy: 0.8270
Epoch 56/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3646 - accuracy: 0.8408 - val_loss: 0.3890 - val_accuracy: 0.8277
Epoch 57/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3635 - accuracy: 0.8419 - val_loss: 0.3882 - val_accuracy: 0.8277
Epoch 58/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3625 - accuracy: 0.8431 - val_loss: 0.3874 - val_accuracy: 0.8285
Epoch 59/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3614 - accuracy: 0.8446 - val_loss: 0.3871 - val_accuracy: 0.8304
Epoch 60/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3606 - accuracy: 0.8459 - val_loss: 0.3858 - val_accuracy: 0.8296
Epoch 61/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3595 - accuracy: 0.8464 - val_loss: 0.3852 - val_accuracy: 0.8307
Epoch 62/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3586 - accuracy: 0.8472 - val_loss: 0.3848 - val_accuracy: 0.8311
Epoch 63/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3578 - accuracy: 0.8479 - val_loss: 0.3840 - val_accuracy: 0.8323
Epoch 64/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3569 - accuracy: 0.8490 - val_loss: 0.3833 - val_accuracy: 0.8326
Epoch 65/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3562 - accuracy: 0.8479 - val_loss: 0.3825 - val_accuracy: 0.8349
Epoch 66/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3552 - accuracy: 0.8481 - val_loss: 0.3816 - val_accuracy: 0.8360
Epoch 67/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3545 - accuracy: 0.8489 - val_loss: 0.3811 - val_accuracy: 0.8368
Epoch 68/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3536 - accuracy: 0.8489 - val_loss: 0.3802 - val_accuracy: 0.8379
Epoch 69/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3528 - accuracy: 0.8500 - val_loss: 0.3798 - val_accuracy: 0.8398
Epoch 70/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3518 - accuracy: 0.8509 - val_loss: 0.3791 - val_accuracy: 0.8372
Epoch 71/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3511 - accuracy: 0.8515 - val_loss: 0.3784 - val_accuracy: 0.8398
Epoch 72/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3503 - accuracy: 0.8528 - val_loss: 0.3778 - val_accuracy: 0.8402
Epoch 73/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3494 - accuracy: 0.8535 - val_loss: 0.3772 - val_accuracy: 0.8425
Epoch 74/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3485 - accuracy: 0.8533 - val_loss: 0.3766 - val_accuracy: 0.8429
Epoch 75/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3478 - accuracy: 0.8537 - val_loss: 0.3764 - val_accuracy: 0.8429
Epoch 76/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3471 - accuracy: 0.8546 - val_loss: 0.3757 - val_accuracy: 0.8455
Epoch 77/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3464 - accuracy: 0.8552 - val_loss: 0.3751 - val_accuracy: 0.8448
Epoch 78/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3458 - accuracy: 0.8550 - val_loss: 0.3747 - val_accuracy: 0.8463
Epoch 79/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3454 - accuracy: 0.8561 - val_loss: 0.3739 - val_accuracy: 0.8459
Epoch 80/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3447 - accuracy: 0.8561 - val_loss: 0.3736 - val_accuracy: 0.8448
Epoch 81/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3443 - accuracy: 0.8558 - val_loss: 0.3731 - val_accuracy: 0.8455
Epoch 82/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3438 - accuracy: 0.8572 - val_loss: 0.3729 - val_accuracy: 0.8448
Epoch 83/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3432 - accuracy: 0.8567 - val_loss: 0.3729 - val_accuracy: 0.8448
Epoch 84/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3428 - accuracy: 0.8582 - val_loss: 0.3726 - val_accuracy: 0.8455
Epoch 85/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3426 - accuracy: 0.8567 - val_loss: 0.3725 - val_accuracy: 0.8463
Epoch 86/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3422 - accuracy: 0.8574 - val_loss: 0.3718 - val_accuracy: 0.8466
Epoch 87/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3417 - accuracy: 0.8582 - val_loss: 0.3715 - val_accuracy: 0.8466
Epoch 88/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3414 - accuracy: 0.8586 - val_loss: 0.3712 - val_accuracy: 0.8455
Epoch 89/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3410 - accuracy: 0.8589 - val_loss: 0.3704 - val_accuracy: 0.8459
Epoch 90/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3406 - accuracy: 0.8578 - val_loss: 0.3705 - val_accuracy: 0.8459
Epoch 91/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3402 - accuracy: 0.8599 - val_loss: 0.3699 - val_accuracy: 0.8470
Epoch 92/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3399 - accuracy: 0.8593 - val_loss: 0.3697 - val_accuracy: 0.8474
Epoch 93/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3397 - accuracy: 0.8593 - val_loss: 0.3696 - val_accuracy: 0.8482
Epoch 94/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3394 - accuracy: 0.8597 - val_loss: 0.3692 - val_accuracy: 0.8485
Epoch 95/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3392 - accuracy: 0.8597 - val_loss: 0.3692 - val_accuracy: 0.8459
Epoch 96/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3390 - accuracy: 0.8600 - val_loss: 0.3692 - val_accuracy: 0.8459
Epoch 97/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3388 - accuracy: 0.8608 - val_loss: 0.3689 - val_accuracy: 0.8478
Epoch 98/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3383 - accuracy: 0.8591 - val_loss: 0.3685 - val_accuracy: 0.8478
Epoch 99/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3380 - accuracy: 0.8606 - val_loss: 0.3684 - val_accuracy: 0.8474
Epoch 100/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3377 - accuracy: 0.8600 - val_loss: 0.3691 - val_accuracy: 0.8474

In [274]:
y_pred = model.predict(X_test)

In [276]:
y_pred=y_pred>0.5

In [277]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [278]:
cm

array([[1533,   62],
       [ 221,  184]])

In [279]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [280]:
score

0.8585

In [283]:
# serialize model to JSON
modelchurn_json = model.to_json()
with open("model_churn.json", "w") as json_file:
    json_file.write(modelchurn_json)

In [284]:
# serialize weights to HDF5
model.save_weights("modelchurn.h5")
print("Saved model to disk")

Saved model to disk

In [ ]:
/content/model_churn.json